.sidebar__container {
  width: 300px;
  background-color: inherit;
  position: absolute;
  top: 9.55%;
  border-radius: 5px;
  padding: 20px 0;

  transition: left 0.5s ease;

  @media (max-width: 500px) {
    width: 100px;
    padding: 15px 0;
  }
}

.sidebar__list {
  list-style-type: none;
  font-size: 20px;
  font-weight: 400;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  @media (max-width: 500px) {
    font-size: 11px;
  }
}

.sidebar__element {
  border-bottom: 0.1px solid #222222;
  padding-bottom: 15px;
  padding-top: 7px;
}

.sidebar__list li {
  @media (max-width: 500px) {
    font-size: 11px;
  }
}

.submenu__list {
  color: #000000;
  list-style: none;
  font-size: 17px;
  padding-left: 25px;
  margin-top: 7px;
}
.submenu__list li {
  margin-bottom: 7px;
}

.submenu__list li span:hover {
  color: #ffffff;
  cursor: pointer;
}

.link_style {
  text-decoration: none;
  color: inherit;
}
