.layout {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.input__box {
  display: flex;
  align-items: center;
}

.input {
  height: 30px;
  width: 150px;
  margin-right: 10px;
}

.submit__btn {
  background-color: brown;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.menu__element {
  display: flex;
  align-items: center;
}

.menu__box {
  margin-bottom: 20px;
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
  background-color: pink;
  margin-right: 20px;
}

.menu__btn {
  cursor: pointer;
}

.inner__container {
  display: flex;
  justify-content: center;
}

.left__container {
  margin-right: 200px;
}

.delete__btn_box {
  background-color: gainsboro;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}
