.article_list {
}

.article_box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #adb5bd;
  padding: 20px 15px;
  margin-bottom: 35px;
}

.author {
  margin-right: 100px;
}

.article_link {
  text-decoration: none;
  color: inherit;
}

.author__title {
  display: flex;
}
