.article_list {
  margin-top: 200px;
  position: absolute;
  left: 38%;
}

.article_box {
  display: flex;
  border-bottom: 1px solid #222222;
  padding: 20px 15px;
  margin-bottom: 35px;
}

.author {
  margin-right: 100px;
}

.article_link {
  text-decoration: none;
  color: inherit;
}
