.viewer__container {
}

.title__box {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #535353;
  display: flex;
  flex-direction: column;
}

.subtitle_box {
  color: #535353;
}
